<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=firstName%> <%=lastName%> | Social Media App</title>
</head>
<body>
  <h1>
    <%=firstName%> <%=lastName%>
    <%if(isPremium) {%>
      <span>⭐</span>
    <%}%>
  </h1>
  <img src="<%=avatar%>">
  <h3><%=email%></h3>
</body>
</html>